.banner {
    background-image: url(../images/banner\ background\ image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-btn {
    background-color: rgba(98, 98, 255, 0.411);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    /* transition: 0.5ms; */
}

.banner-btn:hover {
    background-color: rgba(98, 98, 255, 0.644);
}

.syp-btn,
.vow-btn {
    background-color: white;
    color: #1D4ED8;
    border: transparent;
    font-weight: bold;
    padding-inline: 20px;
    padding-block: 7px;
    border-radius: 10px;
    margin-right: 15px;
}

.vow-btn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.vow-btn:hover {
    background-color: white;
    color: #1D4ED8;
}

.text-blue {
    color: #1D4ED8;
}

.banner-box {
    background-color: #4277E9;
    backdrop-filter: blur(50px);
    border-radius: 20px;
    padding: 30px;
    border: 1px solid rgba(245, 245, 245, 0.226);
}

.top-box {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.icon {
    /* height: 50px;
    width: 50px; */
    background-color: #1D4ED8;
    border-radius: 10px;
}

.header {
    z-index: 10;
}

.badge-btn {
    background-color: #1D4ED8;
    color: white;
    padding: 0;
    font-weight: 600;
    border-radius: 7px;
}

.text-custom-blue {
    color: #1D4ED8;
}

.custom-bold {
    font-weight: 600;
}

@media(max-width:575px) {
    .box-block {
        display: block !important;
    }

    .left-box,
    .right-box {
        width: 100% !important;
    }

    .left-box {
        margin-bottom: 17px !important;
    }
}

.label {
    background-color: #1D4ED8;
    border-radius: 7px;
}

.offer-section {
    background-color: #F8FAFC;
}

.card-hover {
    border: 1px solid lightgray;
    transition: 0.5s;
    cursor: pointer;
}

.card-hover:hover {
    border: 1px solid #1D4ED8;
}

@media (max-width: 991px) {
    .media-banfits {
        display: block !important;
        text-align: center;
    }

    .media-flex-banifits {
        display: block;
        /* border: 1px solid red !important; */
    }

    .media-flex-banifits .col-lg-6 .banifits .banifits-1,
    .media-flex-banifits .col-lg-6 .banifits .banifits-2,
    .media-flex-banifits .col-lg-6 .banifits .banifits-3,
    .media-flex-banifits .col-lg-6 .banifits .banifits-4 {
        /* border: 1px solid red !important; */
    }

    .media-icon {
        /* border: 1px solid red; */
        /* margin-left: 43%; */
        width: 100% !important;
        display: flex;
        justify-content: center !important;
        align-items: center;
        margin-bottom: 10px;
    }

    .icon-media {
        width: 25% !important;
    }

    .banifits-1,
    .banifits-2,
    .banifits-3,
    .banifits-4 {
        border: 1px solid lightgray;
        border-radius: 15px;
        padding: 10px;
        margin-block: 25px;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    }
}

.custom-banifits-icon-size {
    /* font-size: 200px !important; */
    height: 50px;
    width: 50px;
}

.custom-radius {
    border-radius: 10px;
}

.project-section {
    background-color: #F8FAFC !important;
}

.custom-large-shadow {
    box-shadow: 0 1rem 3rem rgba(133, 163, 184, 0.37) !important;
}

.custom-card-radius {
    border-radius: 15px;
}

.btn-custom-bg-color {
    background-color: #4277E9;
    color: white;
    padding-inline: 20px;
    font-weight: 600;
}

.btn-custom-bg-color:hover {
    background-color: #1D4ED8;
    color: white;
}

.process-icon {
    height: 75px;
    width: 75px;
    background-color: #2D69E8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.process-is {
    height: 30px;
    width: 30px;
}

.pricing-section {
    background-color: #F8FAFC;
}